@use "../../styles/responsive.scss" as *;

.service {
  padding-bottom: 20px;

  .service-top-banner {
    padding: 100px 30px 00px 30px;

    @include lg {
      padding: 100px 10px 0px 10px;
    }

    .service-banner {
      background-image: url("../../assets/images/bg22.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      height: 500px;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
      }

      @include md {
        height: 300px;
      }

      .service-banner-desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;

        @include lg {
          width: 90%;
        }

        @include sm {
          width: 100%;
        }

        h1 {
          text-align: center;
          font-size: 50px;
          color: #fff;
          position: relative;

          @include md {
            font-size: 50px;
          }

          @include sm {
            font-size: 40px;
          }

          @include xl {
            &::before {
              display: none;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  .service-container {
    padding: 50px 10px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 50px;
    overflow: hidden;

    @include lg {
      padding: 50px 10px;
      gap: 30px;
    }

    .service-container-content {
      color: #000;
      width: 100%;
      overflow: hidden;

      .service-container-content-top {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        overflow: hidden;
        .services-img-slide {
          max-width: 100%;
          width: 100%;
          .services-slide {
            width: 100%;
            height: 500px;
            aspect-ratio: 16 / 9;

            @include md {
              height: auto;
            }

            .service_slide {
              width: 100%;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
              }
            }
          }
        }

        h1 {
          font-size: 35px;

          @include sm {
            font-size: 25px;
          }
        }

        p {
          color: #585858;
          line-height: 1.5;
          font-size: 18px;
        }
      }
      .service-steps-container {
        display: flex;
        justify-content: space-between;

        @include md {
          flex-direction: column;
        }
        .service-services {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-top: 30px;
          h1 {
            text-transform: uppercase;
            font-size: 20px;
            position: relative;

            &::after {
              content: "";
              width: 70px;
              height: 2px;
              border-radius: 1px;
              background-color: #000;
              display: block;
            }
          }
          ul {
            list-style: none;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
              color: #585858;
              display: flex;
              align-items: center;

              .check-icon {
                color: $primary-color;
                margin-right: 30px;
                flex-shrink: 0;
              }

              .services-desc {
                p {
                  font-size: 18px;
                  white-space: normal;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  &:first-child {
                    color: #000;
                    margin-bottom: 10px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }

        .service-steps {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-top: 30px;
          h1 {
            text-transform: uppercase;
            font-size: 20px;
            position: relative;

            &::after {
              content: "";
              width: 70px;
              height: 2px;
              border-radius: 1px;
              background-color: #000;
              display: block;
            }
          }
          ul {
            list-style: none;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
              color: #585858;
              display: flex;
              align-items: center;

              p {
                font-size: 18px;
                line-height: 1.5;
                &:first-child {
                  margin-right: 30px;
                  color: $primary-color;
                }

                span {
                  font-weight: 500;
                  color: #000;
                }
              }
            }
          }

          p {
            line-height: 1.5;
            font-size: 18px;
          }
        }
      }
    }

    hr {
      margin: 10px 0px;
      background: $primary-color;
      height: 2px;
      border: none;
      border-radius: 5px;
    }

    .service-images {
      h2 {
        text-align: center;

        @include sm {
          font-size: 22px;
        }
      }

      .service-image-cards {
        column-count: 3;
        column-gap: 10px;
        margin-top: 50px;

        @include md {
          column-count: 2;
        }
        .service-image-card {
          margin-bottom: 10px;
          img {
            width: 100%;
            height: auto;
            display: block;
          }

          h2 {
            @include sm {
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  .bottom-desc {
    color: #585858;
    line-height: 1.5;
    font-size: 18px;
    margin-top: 30px;
  }

  .service-contact {
    @include lg {
      margin-top: 30px;
    }
  }
}
